@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: local("Montserrat"),
        url("../fonts/montserrat/Montserrat-Medium.woff2") format("woff2"),
        url("../fonts/montserrat/Montserrat-Medium.woff") format("woff"),
        url("../fonts/montserrat/Montserrat-Medium.eot") format("eot"),
        url("../fonts/montserrat/Montserrat-Medium.ttf") format("ttf");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: local("Montserrat"),
        url("../fonts/montserrat/Montserrat-Bold.woff2") format("woff2"),
        url("../fonts/montserrat/Montserrat-Bold.woff") format("woff"),
        url("../fonts/montserrat/Montserrat-Bold.eot") format("eot"),
        url("../fonts/montserrat/Montserrat-Bold.ttf") format("ttf");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    src: local("Montserrat"),
        url("../fonts/montserrat/Montserrat-ExtraBold.woff2") format("woff2"),
        url("../fonts/montserrat/Montserrat-ExtraBold.woff") format("woff"),
        url("../fonts/montserrat/Montserrat-ExtraBold.eot") format("eot"),
        url("../fonts/montserrat/Montserrat-ExtraBold.ttf") format("ttf");
}